# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
.env

# VSCode files
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# macOS / Windows system files
.DS_Store
Thumbs.db
